.portfolio-link {
  position: relative;
  text-decoration: none;

  &:hover .overlay,
  &:hover .full-descr {
    opacity: 1;
    transform: translateY(0);
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

%works {
  padding-left: 24px;
  text-decoration: none;
}

.works {
  @extend %works;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $heading-color;
}
.work-descr {
  @extend %works;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: $text-color;
}

.full-descr {
  @extend %works;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  padding: 64px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $white-text-color;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list.portfolio {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom: 94px;

  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.portfolio-item {
  width: 100%;
  margin-bottom: 30px;
  background: $white-text-color;
  border: 1px solid #eeeeee;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
    overflow: hidden;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
  }

  @include for-size(desktop) {
    width: 370px;
  }
}
