%headings {
  letter-spacing: 0.03em;
}

.third-heading {
  @extend %headings;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $heading-color;
}

.text-p {
  @extend %headings;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.second-heading {
  @extend %headings;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $heading-color;

  @include for-size(tablet-landscape) {
    font-size: 28px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @include for-size(desktop) {
    font-size: 36px;
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.third-heading-white {
  @extend %headings;
  position: relative;
  content: "";
  /* width: calc((100% - 60px) / 3); */
  padding-right: 30px;
  padding-bottom: 94px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white-text-color;
  /* background: rgba(47, 48, 58, 0.8); */

  &.footer {
    padding-bottom: 0px;
    text-align: center;
    // padding-right: 10px;
    /* width: auto; */
  }
}

.third-heading-white:nth-child(3n) {
  padding-right: 0px;
}
